### Import library

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

1. Read data csv from path and show head of dataset?

In [3]:
data = pd.read_csv('./Dataset/pokemon/pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### Cleaning data
We need to diagnose and clean data before exploring.
Unclean data:

    Column name inconsistency like upper-lower case letter or space between words
    missing data
    different language


We will use head, tail, columns, shape and info methods to diagnose data

2. Show all columns of dataset?

In [4]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

3. Show shape of dataset

In [5]:
data.shape

(800, 12)

4. lets look frequency of pokemom types 1 and type 2
4.1 What is different between dropna = False and dropna = True?

In [9]:
data['Type 1'].value_counts(dropna = False)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [14]:
print(data['Type 2'].value_counts(dropna =True))

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Ghost       14
Ice         14
Rock        14
Water       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [11]:
# Firstly I create new data from pokemons data 
data_new = data.head()
data_new

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

5. Create new data frame from data_new using function [melt](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) from 2 columns ["Attack", "Defense"]

Hint: 
 - lets melt
 - id_vars = what we do not wish to melt
 - value_vars = what we want to melt

In [12]:
melted = pd.melt(frame=data_new,id_vars = 'Name', value_vars= ['Attack','Defense'])
melted

            Name variable  value
0      Bulbasaur   Attack     49
1        Ivysaur   Attack     62
2       Venusaur   Attack     82
3  Mega Venusaur   Attack    100
4     Charmander   Attack     52
5      Bulbasaur  Defense     49
6        Ivysaur  Defense     63
7       Venusaur  Defense     83
8  Mega Venusaur  Defense    123
9     Charmander  Defense     43

6. Using function info() and give your views about missing values (paritcularly: Type 1, Type 2)

In [15]:
data.info()

# As you can see there are 800 entries. However Type 2 has 414 non-null object so it has 386 null object.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          799 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.6+ KB

8. Drop missing values of Type 2

In [ ]:
data1=data   # also we will use data to fill missing value so I assign it to data1 variable
data1["Type 2"].dropna(inplace = True)

7. Fill mising values of Type 2 to "empty"

In [20]:
data["Type 2"].fillna('empty',inplace = True)

## Filtering data frames

9. Creating boolean series which HP > 200 and verify result?

In [21]:
boolean = data.HP > 200
data[boolean]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,122,Chansey,Normal,empty,250,5,5,35,105,50,1,False
261,262,Blissey,Normal,empty,255,10,10,75,135,55,2,False

10. Creating boolean series which HP > 200 and Speed > 35 . Next, verify result?

In [22]:
first_filter = data.HP > 150
second_filter = data.Speed > 35
data[first_filter & second_filter]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,122,Chansey,Normal,empty,250,5,5,35,105,50,1,False
261,262,Blissey,Normal,empty,255,10,10,75,135,55,2,False
351,352,Wailord,Water,empty,170,90,45,90,45,60,3,False
655,656,Alomomola,Water,empty,165,75,80,40,45,65,5,False

### Transformation Data

11. Add new column name "half_of_HP" which contains a half of HP values
11.1 Using basic function
11.2 Using lambda

In [23]:
def div(n):
    return n/2
data.HP.apply(div)

0      22.5
1      30.0
2      40.0
3      40.0
4      19.5
5      29.0
6      39.0
7      39.0
8      39.0
9      22.0
10     29.5
11     39.5
12     39.5
13     22.5
14     25.0
15     30.0
16     20.0
17     22.5
18     32.5
19     32.5
20     20.0
21     31.5
22     41.5
23     41.5
24     15.0
25     27.5
26     20.0
27     32.5
28     17.5
29     30.0
       ...
770    47.5
771    39.0
772    33.5
773    25.0
774    22.5
775    34.0
776    45.0
777    28.5
778    21.5
779    42.5
780    24.5
781    22.0
782    27.0
783    29.5
784    32.5
785    27.5
786    37.5
787    42.5
788    27.5
789    47.5
790    20.0
791    42.5
792    63.0
793    63.0
794    54.0
795    25.0
796    25.0
797    40.0
798    40.0
799    40.0
Name: HP, Length: 800, dtype: float64

In [24]:
data.HP.apply(lambda n : n/2)

0      22.5
1      30.0
2      40.0
3      40.0
4      19.5
5      29.0
6      39.0
7      39.0
8      39.0
9      22.0
10     29.5
11     39.5
12     39.5
13     22.5
14     25.0
15     30.0
16     20.0
17     22.5
18     32.5
19     32.5
20     20.0
21     31.5
22     41.5
23     41.5
24     15.0
25     27.5
26     20.0
27     32.5
28     17.5
29     30.0
       ...
770    47.5
771    39.0
772    33.5
773    25.0
774    22.5
775    34.0
776    45.0
777    28.5
778    21.5
779    42.5
780    24.5
781    22.0
782    27.0
783    29.5
784    32.5
785    27.5
786    37.5
787    42.5
788    27.5
789    47.5
790    20.0
791    42.5
792    63.0
793    63.0
794    54.0
795    25.0
796    25.0
797    40.0
798    40.0
799    40.0
Name: HP, Length: 800, dtype: float64