## [Handle date]

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"date": ["2020.10.01", "2020.10.02", "2020.10.03"]})
df

         date
0  2020.10.01
1  2020.10.02
2  2020.10.03

In [7]:
# Converts date string column to python datetime type
# `infer_datetime_format=True` says method to guess date format from string
df['datetime'] = pd.to_datetime(df['date'], infer_datetime_format=True)
display(df)
df.dtypes

         date   datetime
0  2020.10.01 2020-10-01
1  2020.10.02 2020-10-02
2  2020.10.03 2020-10-03

date                object
datetime    datetime64[ns]
dtype: object

In [8]:
# Converts date string column to python datetime type
# `format` argument specifies the format of date to parse, fails on errors
df['datetime'] = pd.to_datetime(df['date'], format='%Y.%m.%d')
display(df)
df.dtypes

         date   datetime
0  2020.10.01 2020-10-01
1  2020.10.02 2020-10-02
2  2020.10.03 2020-10-03

date                object
datetime    datetime64[ns]
dtype: object

**Excercise 1**
1. Add to dataframe 1 column which contains day (1..31)
2. Add to dataframe 1 column which contains month (format: "mm-yyyy"

## Handling categorical values
1. Ordinal
2. Binary
3. Nominal (One-hot)

In [16]:
# 1. Ordinary
df = pd.DataFrame({"name": ["Nguyen Van A", "Nguyen Van B", "Nguyen Van C"], "grade": ["A", "B", "A+"]})

# # TODO: create a dictionary grades which keys-values: 'A+' - 4.0, 'A-' - 3.7, "B+' - 3.3, 'B' - 3.0
grades = {
}

# # TODO: apply a function to column grade to convert grades to numbers
df['grade_numeric'] = _

           name grade
0  Nguyen Van A     A
1  Nguyen Van B     B
2  Nguyen Van C    A+

In [19]:
# 2. Binary
df = pd.DataFrame({"name": ["Nguyen Van A", "Nguyen Van B", "Nguyen Thị C"], "gender": ["Male", "Male", "Female"]})
df
# # TODO: apply a function to column gender to convert gender into True (for male) and False (for female)
df['gender_indicator'] = _

           name  gender
0  Nguyen Van A    Male
1  Nguyen Van B    Male
2  Nguyen Thị C  Female

In [26]:
# 3. One hot 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

df = pd.DataFrame({"name": ["Nguyen Van A", "Nguyen Van B", "Nguyen Thị C"], \
                  "interests": ["Sport", "Music", "Book"]})

# prefix = 'category'
# ohe = OneHotEncoder(sparse=False)
# ohe = ohe.fit(df[['interests']])
# onehot_encoded = ohe.transform(df[['interests']])
# features_names_prefixed = [ f"{prefix}_{category}" for category in onehot_encoded.categories_[0]]
# df = pd.concat([df, pd.DataFrame(onehot_encoded, columns=features_names_prefixed)], axis=1)

# # now drop the original 'category' column (you don't need it anymore)
# df.drop(['interests'],axis=1, inplace=True)

Give your explain about output?